/*Settings for the hole body*/

body{
    font-size: 16px;
    /*This is a google font*/
    font-family: 'Oxygen', sans-serif;
    color: #fff;
    background-color: #61122f;
}

#header-nav{
    background-color: #f6b319;
    border: 0;
    border-radius: 0;
}

#logo-image{
    background-color: url('');
}